<div id="details-customer" style="padding: 20px;width: 200px;text-align: center;margin-left: auto;margin-right: auto;background: white;position: relative;">
    <div style="text-align: center;font-size:medium;margin-bottom: 10px;">Change status order</div>
    <a>Choise Status</a><select id="status-order">
        <option value="0">Pendding</option>
        <option value="1">Cancel</option>
        <option value="2">Completed</option>
    </select>
    <div style="margin-top: 10px;">
        <div id="commit-change-status" style="text-align: center;display: inline"><button type="button">Change Status</button></div>
        <div id="close-dialog" style="text-align: center;display: inline"><button type="button">Close</button></div>
    </div>
</div>