<div id="details-warehouse" style="padding: 20px;width: 500px;margin-left: auto;margin-right: auto;background: white;position: relative;">
    <div style="text-align: center;font-size: xx-large;">DETAIL WAREHOUSE</div>
    <table style="width: auto;">
        <tr><td>Name</td><td id="name-warehouse" style="font-weight: bold"></td></tr>
        <tr><td>Address</td><td id="address-warehouse" style="font-weight: bold"></td></tr>
        <tr><td>Region</td><td id="name-region" style="font-weight: bold">Region</td></tr>
        <tr><td>Phone</td><td id="name-phone" style="font-weight: bold">Phone</td></tr>
        <tr><td>Email</td><td id="name-email" style="font-weight: bold">Email</td></tr>
    </table>
    <div id="close-dialog" style="text-align: center"><button type="button">Close</button></div>
</div>