<div id="details-customer" style="padding: 20px;width: 500px;margin-left: auto;margin-right: auto;background: white;position: relative;">
    <div style="text-align: center;font-size: xx-large;">DETAIL CUSTOMER</div>
    <table style="width: auto;">
        <tr><td>ID</td><td id="customer-id" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>Email</td><td id="customer-email" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>First Name</td><td id="customer-fname" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>Last Name</td><td id="customer-lname" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>Phone</td><td id="customer-phone" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>Address</td><td id="customer-address" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>City</td><td id="customer-city" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>Country</td><td id="customer-country" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
        <tr><td>Status</td><td id="customer-status" style="font-weight: bold;width: 100%;
text-align: center;"></td></tr>
    </table>
    <div id="close-dialog" style="text-align: center"><button type="button">Close</button></div>
</div>