<div id="changepass" style="padding: 20px;width: 300px;text-align: center;margin-left: auto;margin-right: auto;background: white;position: relative;">
    <div style="text-align: center;font-size:medium;margin-bottom: 10px;">Change password</div>
    <table>
        <tr>
            <td>Current Password</td>
            <td><input type="password" id="currentpass"/></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" id="newpass"/></td>
        </tr>
        <tr>
            <td>Comfirm Password</td>
            <td><input type="password" id="cofirmpass"/></td>
        </tr>
    </table>
    <div style="margin-top: 10px;">
        <div id="commit-change-password" style="text-align: center;display: inline"><button type="button">Change Password</button></div>
        <div id="close-dialog" style="text-align: center;display: inline"><button type="button">Close</button></div>
    </div>
</div>