<div id="details-itempurchase" style="padding: 20px;width: 500px;margin-left: auto;margin-right: auto;background: white;position: relative;">
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody id="body-details">
        </tbody>
    </table>
    <div style="text-align: center;"><input type="button" value="Close" id="close-dialog"/></div>
</div>