<div id="details-warehouse" style="padding: 20px;width: 500px;margin-left: auto;margin-right: auto;background: white;position: relative;">
    <div style="text-align: center;font-size: xx-large;">DETAIL WAREHOUSE</div>
    <table>
        <tr><td>Name</td><td id="name-warehouse"></td></tr>
        <tr><td>Address</td><td id="address-warehouse"></td></tr>
        <tr><td>Region</td><td id="name-region">Region</td></tr>
        <tr><td>Phone</td><td id="name-phone">Phone</td></tr>
        <tr><td>Email</td><td id="name-email">Email</td></tr>
    </table>
    <div id="close-dialog" style="text-align: center"><button type="button">Close</button></div>
</div>